.container{
    top: 0%;
    left: 0%;
    height: 600%;
    width: 100%;
    background: rgb(6, 7, 78);
    position: absolute;
}

.nav-box{
    top: 0%;
    left: 0%;
    width: 95%;
    height: 15%;
    margin-left: 3%;
    margin-top: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(162, 152, 204);
    display: flexbox;
    position: fixed;
}
.bar{
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0%;
    padding: 10px;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
} 


.nav-bar > a:hover {
    background: #ffffff;
    display: flexbox;
    border-radius: 30px;
}
.nav-bar{
    list-style: none;
    margin-left: 50%;
    display: block;
    position: fixed;
    display: grid;
    background-color: none;
    list-style-type: none;
    padding: auto;
    margin-top: 2%;
    display: block;
    /* flex-direction: column; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
.brand{
    font-style: oblique;
    font-size: xx-large;
    display: flexbox;
    padding-left: 5%;
    margin-top: 1%;
}
.fa-bars{
    /* margin-left: 0%;
    margin-top: 0%; */
    top: 0%;
    padding-top: 0%;
    color: rgb(162, 152, 204);
    font-size: 200%;
    position: absolute;
}
.slider{
    width: 420px;
    height: 390px;
    background: url(pic2.jpg);
    margin: 100px auto;
    margin-left: 0%;
    background-repeat: no-repeat;
    margin-top: 0%;
    animation: slide 13s infinite;
    display: grid;
    border-radius: 30px;
    flex-direction: column;
}
@keyframes slide{
    25%{
        background: url(pic1.jpg);
        background-repeat: no-repeat;
        border-right: 40px;
        display: grid;
        border-radius: 30px;
    }
}
.box{
    width: 37.5%;
    height: 7.5%;
    display: grid;
    margin-left: 28%;
    justify-content: center;
    margin-top: 13%;
    background-color: transparent;
}
.section2{
    width: 90%;
    height: 33%;
    margin-left: 5%;
    margin-top: 20%;
    background-color: rgb(0, 0, 31);
    display: flexbox;
    border-radius: 30px;
}
.hd-tx{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
    padding-top: 3%;
    font-style: inherit;
}
.img1{
    width: 40%;
    display: flexbox;
    margin-left: 30%;
    padding-top: 15%;
    border-radius: 30px;
    
}
.hr1{
    width: 30%;
    margin-left: 35%;
    margin-top: 7%;
}
.innr-txt{
    text-align: center;
    color: #ffffff;
    margin-top: 7%;
    font-style: inherit;
    font-weight: 200;
    font-size: large;
    font-style: normal;
}
.btn1{
    margin-top: 2%;
    margin-left: 42%;
    display: flexbox;
    height: 5%;
    background-color: black;
    color: #ffffff;
    font-size: x-large;
    font-style: inherit;
    border-radius: 10px;
    font-weight: bold;
}
.btn1:hover {
    background: #ffffff;
    color: black;
    display: flexbox;
    font-style: italic;
    font-weight: bolder;
}
.section3{
    width: 98%;
    height: 42%;
    margin-left: 1%;
    margin-top: 13%;
    background-color: rgb(0, 0, 31);
    display: flexbox;
    border-radius: 30px;
}
.hd-tx1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
    padding-top: 3%;
    font-style: inherit;
    font-style: oblique;
}
.innr-txt1{
    text-align: center;
    color: #ffffff;
    margin-top: 28%;
    font-style: inherit;
    font-weight: 200;
    font-size: 200%;
    font-style: normal;
}
.img2{
    width: 40%;
    display: flexbox;
    margin-left: 30%;
    padding-top: 0%;
    border-radius: 30px;
}
.section4{
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: rgb(6, 7, 78);
    display: flexbox;
    border-radius: 30px;
}
.hd-txt2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
    padding-top: 3%;
    font-style: inherit;
    font-style: oblique;
}
.name{
    margin-top: 2%;
    display: flexbox;
    padding-left: 10%;
    width: 30%;
    height: 7%;
    font-size: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    margin-left: 30%;
    color: #ffffff; 
}
.email{
    margin-top: 3%;
    display: flexbox;
    padding-left: 10%;
    width: 30%;
    height: 7%;
    font-size: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    margin-left: 30%;
    color: #ffffff;
}
.number{
    margin-top: 3%;
    display: flexbox;
    padding-left: 10%;
    width: 30%;
    height: 7%;
    font-size: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    margin-left: 30%;
    color: #ffffff;
}
.btn2{
    margin-top: 4%;
    margin-left: 40%;
    display: flexbox;
    height: 12%;
    background-color: black;
    color: #ffffff;
    font-size: x-large;
    font-style: inherit;
    border-radius: 10px;
    font-weight: bold;
}
.btn2:hover {
    background: #ffffff;
    color: black;
    display: flexbox;
    font-style: italic;
    font-weight: bolder;
}
.footer{
    width: 102%;
    height: 40%;
    margin-left: -1%;
    display: grid;
    background-color:  rgb(0, 0, 31);
    margin-top: 11%;
}
.hd-txt3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
    padding-top: 0%;
    font-style: inherit;
    font-style: oblique;
}
.email1{
    margin-top: -3%;
    display: flexbox;
    width: 30%;
    height: 70%;
    font-size: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-left: 35%;
    border-radius: 10px;
    color: #000000;
}
.btn3{
    margin-top: 0%;
    margin-left: 40%;
    width: 20%;
    display: flexbox;
    height: 45%;
    background-color: black;
    color: #ffffff;
    font-size: large;
    font-style: normal;
    border-radius: 10px;
    font-weight: bold;
}
.btn3:hover {
    background: #ffffff;
    color: black;
    display: flexbox;
    font-style: italic;
    font-weight: bolder;
}
.ending-txt{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 150%;
    padding-top: 2%;
    font-style: inherit;
    font-style: oblique;
}
span{
    color: red;
}
.ending-txt1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 150%;
    margin-top: -4%;
    font-style: inherit;
    font-style: oblique;
}










/* about us page  */
.abt-pg{
    top: 0%;
    left: 0%;
    height: 250%;
    width: 100%;
    background: rgb(11, 13, 102);
    position: absolute;
}
.about-pg{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    margin-top: 12%;
    background-color: rgb(43, 34, 145);
    display: flexbox;
    border-radius: 30px;
}
.abt-img{
        width: 30%;
        display: flexbox;
        margin-left: 35%;
        margin-top: 3%;
        border-radius: 30px;
}
.abt-txt{
    font-size: 150%;
    display: flexbox;
    color: #ffffff;
    margin-left: 30%;
    font-style: normal;
    font-weight: bolder;

}
hr{
    width: 20%;
}
.abt-txt1{
    text-align: center;
    font-size: 90%;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}








@media only screen and (max-width: 500px){
    .container{
        top: 0%;
        left: 0%;
        height: 460%;
        width: 100%;
        background: rgb(6, 7, 78);
        display: flexbox;
    }
    .fa-bars{
        margin-left: 85%;
        margin-top: 7%;
        padding-top: 0%;
        color: red;
        font-size: 200%;
    }
    .nav-box{
        top: 0%;
        left: 0%;
        width: 95%;
        height: 14%;
        margin-left: 3%;
        margin-top: 0%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: rgb(162, 152, 204);
        display: grid;
        position: fixed;
    }
    .nav-bar{
        flex-direction: column;
        width: 95%;
        height: 55vh;
        margin-left: 0%;
        display: flexbox;
        justify-content: center;
        background: rgb(124, 124, 124);
        margin-top: -900px;
        transition: all 0.5s;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .nav-bar a {
        margin: 0px ;
    }
    .bar{
        text-align: center;
        display: block;
        top: 30%;
        color: black;
        text-decoration: none;
        margin: 0%;
        padding: 10px;
        font-size: 130%;
        font-family: Arial, Helvetica, sans-serif;
    } 

    .brand{
        position: absolute;
        top: 19%
    }
    .nav-bar > a:hover {
        background: #ffffff;
        color: red;
        display: flexbox;
        border-radius: 60px;
        display: flexbox;
        /* width: 140%; */
        left: -0%;
    }
    .box{
        width: 95%;
        height: 7%;
        display: flexbox;
        margin-left: 2%;
        justify-content: center;
        margin-top: 45%;
        background-color: transparent;
    }
.slider{
    width: 330px;
    height: 412px;
    background: url(pic2.jpg);
    margin: 100px auto;
    /* margin-left: 5%; */
    justify-content: center;
    background-repeat: no-repeat;
    margin-top: 0%;
    animation: slide 13s infinite;
    display: grid;
    flex-direction: column;
}
@keyframes slide{
    25%{
        background: url(pic1.jpg);
        background-repeat: no-repeat;
        border-right: 40px;
        display: grid;
        
    }
}
.section2{
    width: 90%;
    height: 25%;
    margin-left: 5%;
    margin-top: 60%;
    border-radius: 30px;
    flex-direction: column;
    grid-template-columns: 1fr;
}
.hd-tx{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 150%;
    padding-top: 0%;
    font-style: inherit;
}
.img1{
    width: 90%;
    display: grid;
    margin-left: 5%;
    padding-top: 5%;
    border-radius: 10px;
    /* flex-direction: column;
    grid-template-columns: 1fr; */
}
.hr1{
    width: 30%;
    margin-left: 35%;
    margin-top: 0%;
}
.innr-txt{
    text-align: center;
    color: #ffffff;
    margin-top: 5%;
    font-style: inherit;
    font-weight: 100;
    font-size: 100%;
}
.btn1{
    margin-top: 0%;
    margin-left: 35%;
    display: flexbox;
    height: 5%;
    background-color: black;
    color: #ffffff;
    font-size: x-large;
    font-style: inherit;
    border-radius: 10px;
    font-weight: bolder;
}
.btn1:hover {
    background: #ffffff;
    color: black;
    display: flexbox;
    font-style: italic;
    font-weight: bolder;
}
.section3{
    width: 98%;
    height: 35%;
    margin-left: 1%;
    margin-top: 13%;
    background-color: rgb(0, 0, 31);
    display: flexbox;
    border-radius: 30px;
}
.hd-tx1{
    font-size: 140%;
    padding-top: 3%;
    font-style: inherit;
    font-style: oblique;
}
.innr-txt1{
    text-align: center;
    color: #ffffff;
    margin-top: 50%;
    font-style: inherit;
    font-weight: 200;
    font-size: 150%;
    font-style: normal;
}
.img2{
    width: 70%;
    height: 20%;
    display: flexbox;
    margin-left: 15%;
    padding-top: 0%;
    border-radius: 30px;
}
.section4{
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-top: 20%;
    background-color: rgb(6, 7, 78);
    display: flexbox;
    border-radius: 30px;
}
.hd-txt2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
    padding-top: 5%;
    font-style: inherit;
    font-style: oblique;
}
.name{
    margin-top: 2%;
    display: flexbox;
    padding-left: 10%;
    width: 50%;
    height: 7%;
    font-size: 100%;
    margin-left: 20%;
    color: #ffffff;
}
.email{
    margin-top: 5%;
    display: flexbox;
    padding-left: 10%;
    width: 50%;
    height: 7%;
    font-size: 100%;
    margin-left: 20%;
    color: #ffffff;
}
.number{
    margin-top: 5%;
    display: flexbox;
    padding-left: 10%;
    width: 50%;
    height: 7%;
    font-size: 100%;
    margin-left: 20%;
    color: #ffffff;
}
.btn2{
    margin-top: 4%;
    margin-left: 34%;
    display: flexbox;
    height: 9%;
    background-color: black;
    color: #ffffff;
    font-size: large;
    font-style: normal;
    border-radius: 10px;
    font-weight: bold;
}
.btn2:hover {
    background: #ffffff;
    color: black;
    display: flexbox;
    font-style: italic;
    font-weight: bolder;
}
.footer{
    width: 102%;
    height: 50%;
    margin-left: -1%;
    display: grid;
    background-color:  rgb(145, 134, 187);
    margin-top: 60%;
}
.hd-txt3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 150%;
    padding-top: 1%;
    font-style: inherit;
    font-style: oblique;
}
.email1{
    margin-top: 0%;
    display: flexbox;
    width: 50%;
    height: 30%;
    font-size: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-left: 25%;
    border-radius: 10px;
    color: #000000;
}
.btn3{
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
    display: flexbox;
    height: 27%;
    background-color: black;
    color: #ffffff;
    font-size: large;
    font-style: normal;
    border-radius: 10px;
    font-weight: bold;
}
.btn3:hover {
    background: #ffffff;
    color: black;
    display: flexbox;
    font-style: italic;
    font-weight: bolder;
}
.ending-txt{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 130%;
    padding-top: 2%;
    font-style: inherit;
    font-style: oblique;
}
span{
    color: red;
}
.ending-txt1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 130%;
    padding-top: 0%;
    font-style: inherit;
    font-style: oblique;
}








/* about css page  */
.about-pg{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    margin-top: 33%;
    background-color: rgb(10, 4, 48);
    display: flexbox;
    border-radius: 30px;
}
.abt-img{
        width: 80%;
        display: flexbox;
        margin-left: 10%;
        margin-top: 5%;
        border-radius: 30px;
}
.abt-txt{
    font-size: 150%;
    display: flexbox;
    color: #ffffff;
    margin-left: 17%;
    font-style: normal;
    font-weight: bolder;

}
hr{
    width: 20%;
}
.abt-txt1{
    text-align: center;
    font-size: 105%;
    font-style: inherit;
    font-weight: 0%;
    color: #ffffff;
}

}